# Importing the necessary libraries

In [1]:
import numpy as np
import pandas as pd

# Loading the Dataset

In [2]:
data = pd.read_csv("pokemon_data.csv")

# Exploring the Dataset

In [4]:
data.head()

,dexnum,name,generation,type1,type2,species,height,weight,ability1,ability2,...,catch_rate,base_friendship,base_exp,growth_rate,egg_group1,egg_group2,percent_male,percent_female,egg_cycles,special_group
0,1,Bulbasaur,1,Grass,Poison,Seed Pokémon,0.7,6.9,Overgrow,Chlorophyll,...,45,50,64,Medium Slow,Grass,Monster,87.5,12.5,20,Ordinary
1,2,Ivysaur,1,Grass,Poison,Seed Pokémon,1.0,13.0,Overgrow,Chlorophyll,...,45,50,142,Medium Slow,Grass,Monster,87.5,12.5,20,Ordinary
2,3,Venusaur,1,Grass,Poison,Seed Pokémon,2.0,100.0,Overgrow,Chlorophyll,...,45,50,236,Medium Slow,Grass,Monster,87.5,12.5,20,Ordinary
3,4,Charmander,1,Fire,NaN,Lizard Pokémon,0.6,8.5,Blaze,Solar Power,...,45,50,62,Medium Slow,Dragon,Monster,87.5,12.5,20,Ordinary
4,5,Charmeleon,1,Fire,NaN,Flame Pokémon,1.1,19.0,Blaze,Solar Power,...,45,50,142,Medium Slow,Dragon,Monster,87.5,12.5,20,Ordinary

In [7]:
data.shape

(1025, 29)

In [8]:
data.columns

Index(['dexnum', 'name', 'generation', 'type1', 'type2', 'species', 'height',
       'weight', 'ability1', 'ability2', 'hidden_ability', 'hp', 'attack',
       'defense', 'sp_atk', 'sp_def', 'speed', 'total', 'ev_yield',
       'catch_rate', 'base_friendship', 'base_exp', 'growth_rate',
       'egg_group1', 'egg_group2', 'percent_male', 'percent_female',
       'egg_cycles', 'special_group'],
      dtype='object')

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 29 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   dexnum           1025 non-null   int64
 1   name             1025 non-null   object
 2   generation       1025 non-null   int64
 3   type1            1025 non-null   object
 4   type2            526 non-null    object
 5   species          1025 non-null   object
 6   height           1025 non-null   float64
 7   weight           1025 non-null   float64
 8   ability1         1025 non-null   object
 9   ability2         858 non-null    object
 10  hidden_ability   530 non-null    object
 11  hp               1025 non-null   int64
 12  attack           1025 non-null   int64
 13  defense          1025 non-null   int64
 14  sp_atk           1025 non-null   int64
 15  sp_def           1025 non-null   int64
 16  speed            1025 non-null   int64
 17  total            1025 non-null   int64
 18  ev_yield         1025 non-null   object
 19  catch_rate       1025 non-null   int64
 20  base_friendship  1025 non-null   object
 21  base_exp         1025 non-null   object
 22  growth_rate      1025 non-null   object
 23  egg_group1       1025 non-null   object
 24  egg_group2       279 non-null    object
 25  percent_male     870 non-null    float64
 26  percent_female   870 non-null    float64
 27  egg_cycles       1025 non-null   object
 28  special_group    1025 non-null   object
dtypes: float64(4), int64(10), object(15)
memory usage: 232.4+ KB

In [33]:
print("Number unique values in generation = ", len(data["generation"].unique()))
print("Number unique values in type1 = ", len(data["type1"].unique()))
print("Number unique values in type2 = ", len(data["type2"].unique()))
print("Number unique values in species = ", len(data["species"].unique()))
print("Number unique values in ability1 = ", len(data["ability1"].unique()))
print("Number unique values in ability2 = ", len(data["ability2"].unique()))
print("Number unique values in hidden_ability = ", len(data["hidden_ability"].unique()))
print("Number unique values in ev_yield = ", len(data["ev_yield"].unique()))
print("Number unique values in base_friendship = ", len(data["base_friendship"].unique()))
print("Number unique values in base_exp = ", len(data["base_exp"].unique()))
print("Number unique values in growth_rate = ", len(data["growth_rate"].unique()))
print("Number unique values in egg_group1 = ", len(data["egg_group1"].unique()))
print("Number unique values in egg_group2 = ", len(data["egg_group2"].unique()))
print("Number unique values in egg_cycles = ", len(data["egg_cycles"].unique()))
print("Number unique values in special_group = ", len(data["special_group"].unique()))

Number unique values in generation =  9
Number unique values in type1 =  18
Number unique values in type2 =  19
Number unique values in species =  715
unique values in ability1 =  223
unique values in ability2 =  170
unique values in hidden_ability =  126
unique values in ev_yield =  48
unique values in base_friendship =  9
unique values in base_exp =  181
unique values in growth_rate =  6
unique values in egg_group1 =  26
unique values in egg_group2 =  12
unique values in egg_cycles =  12
unique values in special_group =  8

In [16]:
data[data["dexnum"].isnull()]

Empty DataFrame
Columns: [dexnum, name, generation, type1, type2, species, height, weight, ability1, ability2, hidden_ability, hp, attack, defense, sp_atk, sp_def, speed, total, ev_yield, catch_rate, base_friendship, base_exp, growth_rate, egg_group1, egg_group2, percent_male, percent_female, egg_cycles, special_group]
Index: []

[0 rows x 29 columns]

# Checking whether the nan values is present or not

In [35]:
print("Number of nan values present in dexnum",len(data[data["dexnum"].isnull()]))      # This column has 0 nan rows
print("Number of nan values present in name",len(data[data["name"].isnull()]))        # This column has 0 nan rows
print("Number of nan values present in generation",len(data[data["generation"].isnull()]))      # This column has 0 nan rows
print("Number of nan values present in type1",len(data[data["type1"].isnull()]))      # This column has 0 nan rows
print("Number of nan values present in type2",len(data[data["type2"].isnull()]))        # This column has 499 nan rows
print("Number of nan values present in species",len(data[data["species"].isnull()]))      # This column has 0 nan rows
print("Number of nan values present in height",len(data[data["height"].isnull()]))      # This column has 0 nan rows
print("Number of nan values present in weight",len(data[data["weight"].isnull()]))      # This column has 0 nan rows
print("Number of nan values present in ability1",len(data[data["ability1"].isnull()]))        # This column has 0 nan rows
print("Number of nan values present in ability2",len(data[data["ability2"].isnull()]))     # This column has 167 nan rows
print("Number of nan values present in hidden_ability",len(data[data["hidden_ability"].isnull()]))      # This column has 495 nan rows
print("Number of nan values present in hp",len(data[data["hp"].isnull()]))         # This column has 0 nan rows
print("Number of nan values present in attack",len(data[data["attack"].isnull()]))        # This column has 0 nan rows
print("Number of nan values present in defense",len(data[data["defense"].isnull()]))        # This column has 0 nan rows
print("Number of nan values present in sp_atk",len(data[data["sp_atk"].isnull()]))        # This column has 0 nan rows
print("Number of nan values present in sp_def",len(data[data["sp_def"].isnull()]))        # This column has 0 nan rows
print("Number of nan values present in speed",len(data[data["speed"].isnull()]))        # This column has 0 nan rows
print("Number of nan values present in total",len(data[data["total"].isnull()]))         # This column has 0 nan rows
print("Number of nan values present in ev_yield",len(data[data["ev_yield"].isnull()]))        # This column has 0 nan rows
print("Number of nan values present in catch_rate",len(data[data["catch_rate"].isnull()]))       # This column has 0 nan rows 
print("Number of nan values present in base_friendship",len(data[data["base_friendship"].isnull()]))        # This column has 0 nan rows
print("Number of nan values present in base_exp",len(data[data["base_exp"].isnull()]))         # This column has 0 nan rows
print("Number of nan values present in growth_rate",len(data[data["growth_rate"].isnull()]))        # This column has 0 nan rows
print("Number of nan values present in egg_group1",len(data[data["egg_group1"].isnull()]))        # This column has 0 nan rows
print("Number of nan values present in egg_group2",len(data[data["egg_group2"].isnull()]))      # This column has 746 nan rows
print("Number of nan values present in percent_male",len(data[data["percent_male"].isnull()]))       # This column has 155 nan rows
print("Number of nan values present in percent_female",len(data[data["percent_female"].isnull()]))       # This column has 155 nan rows
print("Number of nan values present in egg_cycles",len(data[data["egg_cycles"].isnull()]))        # This column has 0 nan rows
print("Number of nan values present in special_group",len(data[data["special_group"].isnull()]))        # This column has 0 nan rows

Number of nan values present in dexnum 0
Number of nan values present in name 0
Number of nan values present in generation 0
Number of nan values present in type1 0
Number of nan values present in type2 499
Number of nan values present in species 0
Number of nan values present in height 0
Number of nan values present in weight 0
Number of nan values present in ability1 0
Number of nan values present in ability2 167
Number of nan values present in hidden_ability 495
Number of nan values present in hp 0
Number of nan values present in attack 0
Number of nan values present in defense 0
Number of nan values present in sp_atk 0
Number of nan values present in sp_def 0
Number of nan values present in speed 0
Number of nan values present in total 0
Number of nan values present in ev_yield 0
Number of nan values present in catch_rate 0
Number of nan values present in base_friendship 0
Number of nan values present in base_exp 0
Number of nan values present in growth_rate 0
Number of nan values present in egg_group1 0
Number of nan values present in egg_group2 746
Number of nan values present in percent_male 155
Number of nan values present in percent_female 155
Number of nan values present in egg_cycles 0
Number of nan values present in special_group 0

In [36]:
data["percent_male"].describe()

count    870.000000
mean      54.928161
std       20.308375
min        0.000000
25%       50.000000
50%       50.000000
75%       50.000000
max      100.000000
Name: percent_male, dtype: float64

In [37]:
data["percent_male"] = data["percent_male"].fillna(method='bfill')
data["percent_female"] = data["percent_female"].fillna(method='bfill')
data["percent_male"] = data["percent_male"].fillna(method='ffill')
data["percent_female"] = data["percent_female"].fillna(method='ffill')

In [48]:
print("Number of nan values present in hidden_ability",len(data[data["hidden_ability"].isnull()]))

Number of nan values present in hidden_ability 0

In [44]:
# The column egg_group2 contain 746 nan values and it is recommended that the whole column is removed
data = data.drop('egg_group2',axis = 1)
# The column type2 contain 499 nan values and it is recommended that the whole column is removed
data = data.drop('type2',axis = 1)
# The column ability2 contain 167 nan values and it is recommended that the whole column is removed
data = data.drop('ability2',axis = 1)

In [47]:
# The column hidden_ability contains 495 nan values so we are going to replace these nan values with unknown
data["hidden_ability"] = data["hidden_ability"].replace(np.nan, 'unknown')

In [50]:
# All the nan values are tackled
print("Number of nan values present in dexnum",len(data[data["dexnum"].isnull()]))
print("Number of nan values present in name",len(data[data["name"].isnull()]))
print("Number of nan values present in generation",len(data[data["generation"].isnull()]))
print("Number of nan values present in type1",len(data[data["type1"].isnull()]))
print("Number of nan values present in species",len(data[data["species"].isnull()]))
print("Number of nan values present in height",len(data[data["height"].isnull()]))
print("Number of nan values present in weight",len(data[data["weight"].isnull()]))
print("Number of nan values present in ability1",len(data[data["ability1"].isnull()]))
print("Number of nan values present in hidden_ability",len(data[data["hidden_ability"].isnull()]))
print("Number of nan values present in hp",len(data[data["hp"].isnull()]))
print("Number of nan values present in attack",len(data[data["attack"].isnull()]))
print("Number of nan values present in defense",len(data[data["defense"].isnull()]))
print("Number of nan values present in sp_atk",len(data[data["sp_atk"].isnull()]))
print("Number of nan values present in sp_def",len(data[data["sp_def"].isnull()]))
print("Number of nan values present in speed",len(data[data["speed"].isnull()]))
print("Number of nan values present in total",len(data[data["total"].isnull()]))
print("Number of nan values present in ev_yield",len(data[data["ev_yield"].isnull()]))
print("Number of nan values present in catch_rate",len(data[data["catch_rate"].isnull()]))
print("Number of nan values present in base_friendship",len(data[data["base_friendship"].isnull()]))
print("Number of nan values present in base_exp",len(data[data["base_exp"].isnull()]))
print("Number of nan values present in growth_rate",len(data[data["growth_rate"].isnull()]))
print("Number of nan values present in egg_group1",len(data[data["egg_group1"].isnull()]))
print("Number of nan values present in percent_male",len(data[data["percent_male"].isnull()]))
print("Number of nan values present in percent_female",len(data[data["percent_female"].isnull()]))
print("Number of nan values present in egg_cycles",len(data[data["egg_cycles"].isnull()]))
print("Number of nan values present in special_group",len(data[data["special_group"].isnull()]))

Number of nan values present in dexnum 0
Number of nan values present in name 0
Number of nan values present in generation 0
Number of nan values present in type1 0
Number of nan values present in species 0
Number of nan values present in height 0
Number of nan values present in weight 0
Number of nan values present in ability1 0
Number of nan values present in hidden_ability 0
Number of nan values present in hp 0
Number of nan values present in attack 0
Number of nan values present in defense 0
Number of nan values present in sp_atk 0
Number of nan values present in sp_def 0
Number of nan values present in speed 0
Number of nan values present in total 0
Number of nan values present in ev_yield 0
Number of nan values present in catch_rate 0
Number of nan values present in base_friendship 0
Number of nan values present in base_exp 0
Number of nan values present in growth_rate 0
Number of nan values present in egg_group1 0
Number of nan values present in percent_male 0
Number of nan values present in percent_female 0
Number of nan values present in egg_cycles 0
Number of nan values present in special_group 0

# Data is cleaned we can further Standardize(Normalize) our data when we need to train our model