In [40]:
import warnings
warnings.filterwarnings("ignore")

# Importing the necessary libraries\`

In [1]:
import numpy as np
import pandas as pd

# Loading the Dataset

In [2]:
data = pd.read_csv("Restaurant_Scores_-_LIVES_Standard.csv")

# Exploring the Dataset

In [3]:
data.head()

,business_id,business_name,business_address,business_city,business_state,business_postal_code,business_latitude,business_longitude,business_location,business_phone_number,inspection_id,inspection_date,inspection_score,inspection_type,violation_id,violation_description,risk_category
0,10,Tiramisu Kitchen,033 Belden Pl,San Francisco,CA,94104,37.791116,-122.403816,"(37.791116, -122.403816)",NaN,10_20140114,01/14/2014 12:00:00 AM,92.0,Routine - Unscheduled,10_20140114_103119,Inadequate and inaccessible handwashing facili...,Moderate Risk
1,10,Tiramisu Kitchen,033 Belden Pl,San Francisco,CA,94104,37.791116,-122.403816,"(37.791116, -122.403816)",NaN,10_20140114,01/14/2014 12:00:00 AM,92.0,Routine - Unscheduled,10_20140114_103145,Improper storage of equipment utensils or linens,Low Risk
2,10,Tiramisu Kitchen,033 Belden Pl,San Francisco,CA,94104,37.791116,-122.403816,"(37.791116, -122.403816)",NaN,10_20140114,01/14/2014 12:00:00 AM,92.0,Routine - Unscheduled,10_20140114_103154,Unclean or degraded floors walls or ceilings,Low Risk
3,10,Tiramisu Kitchen,033 Belden Pl,San Francisco,CA,94104,37.791116,-122.403816,"(37.791116, -122.403816)",NaN,10_20140729,07/29/2014 12:00:00 AM,94.0,Routine - Unscheduled,10_20140729_103144,Unapproved or unmaintained equipment or utensils,Low Risk
4,10,Tiramisu Kitchen,033 Belden Pl,San Francisco,CA,94104,37.791116,-122.403816,"(37.791116, -122.403816)",NaN,10_20140729,07/29/2014 12:00:00 AM,94.0,Routine - Unscheduled,10_20140729_103129,Insufficient hot water or running water,Moderate Risk

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53555 entries, 0 to 53554
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   business_id            53555 non-null  int64
 1   business_name          53555 non-null  object
 2   business_address       53555 non-null  object
 3   business_city          53555 non-null  object
 4   business_state         53555 non-null  object
 5   business_postal_code   52198 non-null  object
 6   business_latitude      35923 non-null  float64
 7   business_longitude     35923 non-null  float64
 8   business_location      35923 non-null  object
 9   business_phone_number  15808 non-null  float64
 10  inspection_id          53555 non-null  object
 11  inspection_date        53555 non-null  object
 12  inspection_score       40786 non-null  float64
 13  inspection_type        53555 non-null  object
 14  violation_id           40673 non-null  object
 15  violation_description  40673 non-null  object
 16  risk_category          40673 non-null  object
dtypes: float64(4), int64(1), object(12)
memory usage: 6.9+ MB

In [5]:
data.columns

Index(['business_id', 'business_name', 'business_address', 'business_city',
       'business_state', 'business_postal_code', 'business_latitude',
       'business_longitude', 'business_location', 'business_phone_number',
       'inspection_id', 'inspection_date', 'inspection_score',
       'inspection_type', 'violation_id', 'violation_description',
       'risk_category'],
      dtype='object')

In [51]:
data.shape

(53525, 15)

In [8]:
print("Number of unique values in business_id = ", len(data["business_id"].unique()))
print("Number of unique values in business_name = ", len(data["business_name"].unique()))
print("Number of unique values in business_address = ", len(data["business_address"].unique()))
print("Number of unique values in business_city = ", len(data["business_city"].unique()))      # business_city has only one value San Francisco so it is not a necessary column. Hence we can remove it
print("Number of unique values in business_state = ", len(data["business_state"].unique()))      # business_state has only one value CA so it is not a necessary column. Hence we can remove it
print("Number of unique values in business_postal_code = ", len(data["business_postal_code"].unique()))
print("Number of unique values in business_latitude = ", len(data["business_latitude"].unique()))
print("Number of unique values in business_longitude = ", len(data["business_longitude"].unique()))
print("Number of unique values in business_location = ", len(data["business_location"].unique()))
print("Number of unique values in business_phone_number = ", len(data["business_phone_number"].unique()))
print("Number of unique values in inspection_id = ", len(data["inspection_id"].unique()))
print("Number of unique values in inspection_date = ", len(data["inspection_date"].unique()))
print("Number of unique values in inspection_score = ", len(data["inspection_score"].unique()))
print("Number of unique values in inspection_type = ", len(data["inspection_type"].unique()))
print("Number of unique values in violation_id = ", len(data["violation_id"].unique()))
print("Number of unique values in violation_description = ", len(data["violation_description"].unique()))

Number unique values in business_id =  6078
Number unique values in business_name =  5585
Number unique values in business_address =  5392
Number unique values in business_city =  1
Number unique values in business_state =  1
Number unique values in business_postal_code =  46
Number unique values in business_latitude =  2825
Number unique values in business_longitude =  2874
Number unique values in business_location =  2960
Number unique values in business_phone_number =  1712
Number unique values in inspection_id =  25834
Number unique values in inspection_date =  833
Number unique values in inspection_score =  50
Number unique values in inspection_type =  14
Number unique values in violation_id =  40624
Number unique values in violation_description =  69

In [9]:
# Removing the column business_state and business_city
data = data.drop(['business_city','business_state'], axis = 1)

# Checking whether the nan values is present or not

In [12]:
data.columns

Index(['business_id', 'business_name', 'business_address',
       'business_postal_code', 'business_latitude', 'business_longitude',
       'business_location', 'business_phone_number', 'inspection_id',
       'inspection_date', 'inspection_score', 'inspection_type',
       'violation_id', 'violation_description', 'risk_category'],
      dtype='object')

In [63]:
print("Number of nan values present in business_id",len(data[data["business_id"].isnull()]))
print("Number of nan values present in business_name",len(data[data["business_name"].isnull()]))
print("Number of nan values present in business_address",len(data[data["business_address"].isnull()]))
print("Number of nan values present in business_postal_code",len(data[data["business_postal_code"].isnull()]))
print("Number of nan values present in business_latitude",len(data[data["business_latitude"].isnull()]))
print("Number of nan values present in business_longitude",len(data[data["business_longitude"].isnull()]))
print("Number of nan values present in business_location",len(data[data["business_location"].isnull()]))
print("Number of nan values present in business_phone_number",len(data[data["business_phone_number"].isnull()]))
print("Number of nan values present in inspection_id",len(data[data["inspection_id"].isnull()]))
print("Number of nan values present in inspection_date",len(data[data["inspection_date"].isnull()]))
print("Number of nan values present in inspection_score",len(data[data["inspection_score"].isnull()]))
print("Number of nan values present in inspection_type",len(data[data["inspection_type"].isnull()]))
print("Number of nan values present in violation_id",len(data[data["violation_id"].isnull()]))
print("Number of nan values present in violation_description",len(data[data["violation_description"].isnull()]))
print("Number of nan values present in risk_category",len(data[data["risk_category"].isnull()]))

Number of nan values present in business_id 0
Number of nan values present in business_name 0
Number of nan values present in business_address 0
Number of nan values present in business_postal_code 0
Number of nan values present in business_latitude 0
Number of nan values present in business_longitude 0
Number of nan values present in business_location 0
Number of nan values present in business_phone_number 0
Number of nan values present in inspection_id 0
Number of nan values present in inspection_date 0
Number of nan values present in inspection_score 0
Number of nan values present in inspection_type 0
Number of nan values present in violation_id 0
Number of nan values present in violation_description 0
Number of nan values present in risk_category 0

### Tackling the business_latitude and business_longitude of dataset

In [15]:
data["business_longitude"].describe()

count    35923.000000
mean      -122.192078
std          5.360567
min       -122.510896
25%       -122.437677
50%       -122.418983
75%       -122.407430
max          0.000000
Name: business_longitude, dtype: float64

In [16]:
# we are going to replace the latitude and longitude of this dataset with its mean
data["business_latitude"] = data["business_latitude"].mean()
data["business_longitude"] = data["business_longitude"].mean()

### Tackling the business_postal_code of Dataset

In [21]:
data["business_postal_code"].unique()    # CA,Ca values are not correct for this column

array(['94104', '94110', '94108', '94114', '94109', nan, '94134', '94118',
       '94133', '94111', '94122', '94107', '94123', '94103', '94121',
       '94105', '94112', '94115', '94143', '94132', '94102', '94127',
       '94124', '94131', '94129', '94116', '94130', '94117', '94158',
       '94602', 'CA', '94120', '94013', '94014', '941033148', 'Ca',
       '00000', '95105', '94609', '94101', '941102019', '941', '92672',
       '94545', '94066', '94188'], dtype=object)

In [34]:
# removing the rows that contain CA or Ca
mask_CA = data['business_postal_code'].str.contains('CA')
mask_Ca = data['business_postal_code'].str.contains('Ca')
mask = mask_CA | mask_Ca
data = data[~mask]

In [41]:
# Changing the data type to float
data["business_postal_code"] = data["business_postal_code"].astype(float)

In [44]:
# Replacing the nan with mode
data['business_postal_code'] = data['business_postal_code'].fillna(data['business_postal_code'].mode()[0])

### Tackling the business_location of Dataset

In [48]:
data['business_location'].describe()

count                        35913
unique                        2958
top       (37.778382, -122.391151)
freq                           402
Name: business_location, dtype: object

In [49]:
data['business_location'] = data['business_location'].fillna(data['business_location'].mode()[0])

### Tackling the business_phone_number of Dataset

In [56]:
len(data[data["business_phone_number"].isnull()])   # This column contains more than 50% of nan values, Hence it is recommended to remove it

0

In [55]:
data["business_phone_number"] = data["business_phone_number"].replace(np.nan, 'Not Available')   # all the nan values are removed

### Tackling the inspection_score of Dataset

In [58]:
data['inspection_score'] = data['inspection_score'].fillna(data['inspection_score'].mean())

### Tackling the violation_id, violation_description, risk_category of Dataset

In [62]:
# we are going to replace nan with "NOT AVAILABLE"
data['violation_id'] = data['violation_id'].replace(np.nan, "NOT AVAILABLE")
data['violation_description'] = data['violation_description'].replace(np.nan, "NOT AVAILABLE")
data['risk_category'] = data['risk_category'].replace(np.nan, "NOT AVAILABLE")

In [64]:
print("Number of nan values present in business_id",len(data[data["business_id"].isnull()]))
print("Number of nan values present in business_name",len(data[data["business_name"].isnull()]))
print("Number of nan values present in business_address",len(data[data["business_address"].isnull()]))
print("Number of nan values present in business_postal_code",len(data[data["business_postal_code"].isnull()]))
print("Number of nan values present in business_latitude",len(data[data["business_latitude"].isnull()]))
print("Number of nan values present in business_longitude",len(data[data["business_longitude"].isnull()]))
print("Number of nan values present in business_location",len(data[data["business_location"].isnull()]))
print("Number of nan values present in business_phone_number",len(data[data["business_phone_number"].isnull()]))
print("Number of nan values present in inspection_id",len(data[data["inspection_id"].isnull()]))
print("Number of nan values present in inspection_date",len(data[data["inspection_date"].isnull()]))
print("Number of nan values present in inspection_score",len(data[data["inspection_score"].isnull()]))
print("Number of nan values present in inspection_type",len(data[data["inspection_type"].isnull()]))
print("Number of nan values present in violation_id",len(data[data["violation_id"].isnull()]))
print("Number of nan values present in violation_description",len(data[data["violation_description"].isnull()]))
print("Number of nan values present in risk_category",len(data[data["risk_category"].isnull()]))

Number of nan values present in business_id 0
Number of nan values present in business_name 0
Number of nan values present in business_address 0
Number of nan values present in business_postal_code 0
Number of nan values present in business_latitude 0
Number of nan values present in business_longitude 0
Number of nan values present in business_location 0
Number of nan values present in business_phone_number 0
Number of nan values present in inspection_id 0
Number of nan values present in inspection_date 0
Number of nan values present in inspection_score 0
Number of nan values present in inspection_type 0
Number of nan values present in violation_id 0
Number of nan values present in violation_description 0
Number of nan values present in risk_category 0

# All the Data is cleaned