# Importing libraries

In [1]:
import pandas as pd
import numpy as np

# Reading the dataset

In [2]:
data = pd.read_csv("train.csv")

# Exploring the dataset

In [4]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [6]:
data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [7]:
data.shape

(891, 12)

### Checking all the unique values

In [31]:
print("unique values in Survived = ", data["Survived"].unique())
print("unique values in Pclass = ", data["Pclass"].unique())
print("unique values in Sex = ", data["Sex"].unique())
print("unique values in SibSp = ", data["SibSp"].unique())
print("unique values in Parch = ", data["Parch"].unique())
print("unique values in Cabin = ", data["Cabin"].unique())
print("unique values in Embarked = ", data["Embarked"].unique())

unique values in Survived =  [0 1]
unique values in Pclass =  [3 1 2]
unique values in Sex =  ['male' 'female']
unique values in SibSp =  [1 0 3 4 2 5 8]
unique values in Parch =  [0 1 2 5 3 4 6]
unique values in Cabin =  [nan 'C85' 'C123' 'E46' 'G6' 'C103' 'D56' 'A6' 'C23 C25 C27' 'B78' 'D33'
 'B30' 'C52' 'B28' 'C83' 'F33' 'F G73' 'E31' 'A5' 'D10 D12' 'D26' 'C110'
 'B58 B60' 'E101' 'F E69' 'D47' 'B86' 'F2' 'C2' 'E33' 'B19' 'A7' 'C49'
 'F4' 'A32' 'B4' 'B80' 'A31' 'D36' 'D15' 'C93' 'C78' 'D35' 'C87' 'B77'
 'E67' 'B94' 'C125' 'C99' 'C118' 'D7' 'A19' 'B49' 'D' 'C22 C26' 'C106'
 'C65' 'E36' 'C54' 'B57 B59 B63 B66' 'C7' 'E34' 'C32' 'B18' 'C124' 'C91'
 'E40' 'T' 'C128' 'D37' 'B35' 'E50' 'C82' 'B96 B98' 'E10' 'E44' 'A34'
 'C104' 'C111' 'C92' 'E38' 'D21' 'E12' 'E63' 'A14' 'B37' 'C30' 'D20' 'B79'
 'E25' 'D46' 'B73' 'C95' 'B38' 'B39' 'B22' 'C86' 'C70' 'A16' 'C101' 'C68'
 'A10' 'E68' 'B41' 'A20' 'D19' 'D50' 'D9' 'A23' 'B50' 'A26' 'D48' 'E58'
 'C126' 'B71' 'B51 B53 B55' 'D49' 'B5' 'B20' 'F G63' 'C62 C64' 'E24' 'C90'
 'C45' 'E8' 'B101' 'D45' 'C46' 'D30' 'E121' 'D11' 'E77' 'F38' 'B3' 'D6'
 'B82 B84' 'D17' 'A36' 'B102' 'B69' 'E49' 'C47' 'D28' 'E17' 'A24' 'C50'
 'B42' 'C148']
unique values in Embarked =  ['S' 'C' 'Q' nan]

# Checking whether the nan values is present or not

In [33]:
print("Number of nan values present in PassengerId",len(data[data["PassengerId"].isnull()]))
print("Number of nan values present in Survived",len(data[data["Survived"].isnull()]))
print("Number of nan values present in Pclass",len(data[data["Pclass"].isnull()]))
print("Number of nan values present in Name",len(data[data["Name"].isnull()]))
print("Number of nan values present in Sex",len(data[data["Sex"].isnull()]))
print("Number of nan values present in Age",len(data[data["Age"].isnull()]))    # Set all the gender values which are not present as unknown
print("Number of nan values present in SibSp",len(data[data["SibSp"].isnull()]))
print("Number of nan values present in Parch",len(data[data["Parch"].isnull()]))
print("Number of nan values present in Ticket",len(data[data["Ticket"].isnull()]))
print("Number of nan values present in Fare",len(data[data["Fare"].isnull()]))
print("Number of nan values present in Cabin",len(data[data["Cabin"].isnull()]))     # In Cabin more than half rows are nan. So it is helpful to remove this column. or just replace nan values to unknown 
print("Number of nan values present in Embarked",len(data[data["Embarked"].isnull()]))     # Remove the nan rows

Number of nan values present in PassengerId 0
Number of nan values present in Survived 0
Number of nan values present in Pclass 0
Number of nan values present in Name 0
Number of nan values present in Sex 0
Number of nan values present in Age 177
Number of nan values present in SibSp 0
Number of nan values present in Parch 0
Number of nan values present in Ticket 0
Number of nan values present in Fare 0
Number of nan values present in Cabin 687
Number of nan values present in Embarked 2

# Removing the nan values

In [37]:
# Replace the nan to unknown
data["Age"] = data["Age"].replace(np.nan,'unknown')
data["Cabin"] = data["Cabin"].replace(np.nan,'unknown')

In [39]:
# Drop leftover nan rows
data_cleaned = data.dropna()

In [41]:
# No nan values present
print("Number of nan values present in PassengerId",len(data_cleaned[data_cleaned["PassengerId"].isnull()]))
print("Number of nan values present in Survived",len(data_cleaned[data_cleaned["Survived"].isnull()]))
print("Number of nan values present in Pclass",len(data_cleaned[data_cleaned["Pclass"].isnull()]))
print("Number of nan values present in Name",len(data_cleaned[data_cleaned["Name"].isnull()]))
print("Number of nan values present in Sex",len(data_cleaned[data_cleaned["Sex"].isnull()]))
print("Number of nan values present in Age",len(data_cleaned[data_cleaned["Age"].isnull()]))
print("Number of nan values present in SibSp",len(data_cleaned[data_cleaned["SibSp"].isnull()]))
print("Number of nan values present in Parch",len(data_cleaned[data_cleaned["Parch"].isnull()]))
print("Number of nan values present in Ticket",len(data_cleaned[data_cleaned["Ticket"].isnull()]))
print("Number of nan values present in Fare",len(data_cleaned[data_cleaned["Fare"].isnull()]))
print("Number of nan values present in Cabin",len(data_cleaned[data_cleaned["Cabin"].isnull()])) 
print("Number of nan values present in Embarked",len(data_cleaned[data_cleaned["Embarked"].isnull()]))

Number of nan values present in PassengerId 0
Number of nan values present in Survived 0
Number of nan values present in Pclass 0
Number of nan values present in Name 0
Number of nan values present in Sex 0
Number of nan values present in Age 0
Number of nan values present in SibSp 0
Number of nan values present in Parch 0
Number of nan values present in Ticket 0
Number of nan values present in Fare 0
Number of nan values present in Cabin 0
Number of nan values present in Embarked 0

# Data is Cleaned